<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>email sender</title>

    <style>
        .masthead {
            height: 100vh;
            min-height: 500px;
            background-image: url('https://cdn.pixabay.com/photo/2017/01/31/00/48/envelope-2022710_1280.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .content {
            color: white;
            font-size: 11px;
        }
    </style>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <br/>
            <div class="col-12 text-center">
                <h1 th:text="${greet}"></h1>
                <a href="/sender"><p class="lead content">( Klick to send your email )</p></a>
            </div>
        </div>
    </div>
</header>

</body>
</html>